<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--1次并发多少条请求-->
    <add key="batch_send_request_count" value="10" />
    <!--每2次批量发送请求的时间间隔（单位：毫秒）-->
    <add key="batch_send_request_interval" value="10000" />
    <!--批量响应多少条查询结果保存一次excel-->
    <add key="batch_save_result_count" value="20" />
  </appSettings>
</configuration>
